.banner {
  min-height: 625px;
  background-size: cover;
  background-position: center;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.banner-one {
  background:
    url('https://i.ibb.co/0GHJ55Y/slider1.webp');
}

.banner-two {
  background:
    url('https://i.ibb.co/jgfY1SH/slider2.webp');
}
.banner-three {
  background:
    url('https://i.ibb.co/mhR7pdj/slider3.webp');
}
